#body {
  font-family: Georgia, serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 22%,
    rgba(9, 9, 121, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
#form {
  width: max-content;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #373170 inset, 0 0 0 0 #40255b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
}
.button:hover {
  box-shadow: 0 0 10px 0 #edd9e5 inset, 0 0 10px 4px #de7bc8;
  color: #25044a;
}
.divUser {
  display: flex;
  align-items: center;
}
.red {
  color: red;
  border-color: red;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(196, 122, 219, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 20px 35px;
}

.content {
  width: 100%;
  max-width: 300px;
  padding: 25px;
  background: #291c3e;
  position: relative;
}
.close-button {
  font-size: xx-large;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  outline: none;
}
.title {
  margin: 0 0 15px;
}
.button_box {
  display: flex;
  justify-content: space-evenly;
}
input {
  border-radius: 5px;
  height: 25px;
}
.hidden {
  display: none;
}
